@import 'tailwindcss';

/* Pretendard 폰트 설정 */
body {
	font-family: 'Pretendard', ui-sans-serif, system-ui;
	user-select: none;
	touch-action: pan-y;
	text-rendering: optimizeLegibility; /* 글꼴 렌더링 최적화 */
	-webkit-font-smoothing: antialiased; /* 웹킷 브라우저의 폰트 스무딩 */
	-moz-osx-font-smoothing: grayscale; /* macOS 렌더링 호환 */
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	src: url('@/assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
	src: url('@/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
	src: url('@/assets/fonts/Pretendard-ExtraBold.ttf') format('truetype');
	src: url('@/assets/fonts/Pretendard-ExtraBold.otf') format('opentype');

	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	src: url('@/assets/fonts/Pretendard-Bold.woff2') format('woff2');
	src: url('@/assets/fonts/Pretendard-Bold.woff') format('woff');
	src: url('@/assets/fonts/Pretendard-Bold.ttf') format('truetype');
	src: url('@/assets/fonts/Pretendard-Bold.otf') format('opentype');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	src: url('@/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
	src: url('@/assets/fonts/Pretendard-SemiBold.woff') format('woff');
	src: url('@/assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
	src: url('@/assets/fonts/Pretendard-SemiBold.otf') format('opentype');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	src: url('@/assets/fonts/Pretendard-Regular.woff2') format('woff2');
	src: url('@/assets/fonts/Pretendard-Regular.woff') format('woff');
	src: url('@/assets/fonts/Pretendard-Regular.ttf') format('truetype');
	src: url('@/assets/fonts/Pretendard-Regular.otf') format('opentype');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	src: url('@/assets/fonts/Pretendard-Light.woff2') format('woff2');
	src: url('@/assets/fonts/Pretendard-Light.woff') format('woff');
	src: url('@/assets/fonts/Pretendard-Light.ttf') format('truetype');
	src: url('@/assets/fonts/Pretendard-Light.otf') format('opentype');
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Gana';
	font-weight: 300;
	src: url('@/assets/fonts/Ghanachocolate.ttf') format('truetype');
	src: url('@/assets/fonts/Ghanachocolate.otf') format('opentype');
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Kyobo';
	font-weight: 300;
	src: url('/src/assets/fonts/KyoboHandwriting2020pdy.otf') format('opentype'),
		url('/src/assets/fonts/KyoboHandwriting2020pdy.ttf') format('truetype');
	font-style: normal;
	font-display: block;
}

/* button {
	@apply focus:outline-none;
} */

/* .border-color {
	@apply border-gray-100;
} */

/* .text-gray {
	@apply text-gray-500;
} */

.tit {
	font-weight: 700;
	font-size: 1.46vw;
}
.mainTit {
	font-weight: 700;
	font-size: 58px;
}

.text-ellipsis-1-line {
	@apply overflow-hidden text-ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	word-wrap: break-word;
}

.text-ellipsis-2-line {
	@apply overflow-hidden text-ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
}
